*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, system-ui, avenir, Arial, Helvetica, sans-serif;
  color-scheme: dark;
}

:root{
  --bg-color: #f4f3ff;
  --btn-color: #646cff;
  --dark-color: #242424;
  --helper-color: #99b9ff;
}

html{
  font-size: 62.5%;
}

body{
  margin: 0;
  min-width: 32rem;
  min-height: 100vh;
}

h1{
  font-size: 5.4em;
  line-height: 1.1;
  font-weight: bold;
}

p,li,label,input,textarea {
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: 0.1rem;
  word-spacing: 0.06rem;
}

a{
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--btn-color);
  text-decoration: inherit;
}

li{
  list-style-type: none;
}

.container{
  max-width: 140rem;
  padding: 3rem;
  margin: 0 auto;
}

.grid{
  display: grid;
  gap: 6.4rem;
}

.grid-two-cols{
  grid-template-columns: repeat(2, 1fr);
}


.grid-four-cols{
  grid-template-columns: repeat(4, 1fr);
}

button{
  text-transform: capitalize;
  padding: 1rem 2.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: var(--btn-color);
  border-radius: 0.8rem;
  border: 0.1rem solid transparent;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: border-color 0.3s;
}

.secondary-btn{
  background-color: transparent;
  box-shadow: inset 0 0 0 0.2rem var(--btn-color);
  margin-left: 3.2rem;
}

button:hover{
  box-shadow: inset 0 0 0 0.2rem var(--bg-color);
}

.section-hero{
  & .grid{
    align-items: center;
  }

  .hero-content{
    & p{
      margin: 4.8rem 0  4.8rem 0;
      &:first-child{
        margin: 0 0 1.2rem 0;
      }
    }
  }

  .hero-image{
    display: flex;
    justify-content: center;
    & img{
      width: 70%;
      height: auto;
    }
  }
}


.section-analytics{
  margin: 5.6rem 0;

  & .container{
    background-color: var(--bg-color);
    border-radius: 1rem;
  }

  & .grid{
    color: var(--dark-color);

    & .div1{
      text-align: center;
      border-right: 0.2rem solid var(--dark-color);

      &:last-child{
        border: none;
      }

      & h2{
        font-size: 2.8rem;
      }

      & p{
        text-transform: capitalize;
      }
    }
  }
}

/* error page  */
#error-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
#error-page .content {
  max-width: 70rem;
  text-align: center;
}
.content h2.header {
  font-size: 18vw;
  line-height: 1em;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
}
.content h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 2rem;
}

.content .btns {
  margin: 25px 0;
  display: inline-flex;
  justify-content: center;
}
.content .btns a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid var(--btn-color);
  color: var(--btn-color);
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.content .btns a:hover {
  background: var(--btn-color);
  color: #fff;
}

/** -----------------------
** registration section css
** -------------------------  */

.section-registration {
  padding: 0 3.2rem;

  & .container {
    /* background-color: #fff; */
    padding-top: 3.2rem;
    align-items: center;

    & img {
      width: 80%;
      height: auto;
    }
  }

  & .registration-form {
    & label {
      display: block;
      margin: 2.4rem 0 0.8rem 0;
      text-transform: capitalize;
    }
    & input {
      width: 80%;
      padding: 0.6rem 0.6rem;
    }

    & button {
      margin-top: 3.2rem;
    }
  }
}


/* css for admin-users page */


.admin-user-section {
  padding: 20px;
  background-color: #f9f9f9;
}

.admin-user-section h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.admin-users table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-users th, .admin-users td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.admin-users th {
  background-color: #f4f4f4;
  color: #555;
}

.admin-users tr:hover {
  background-color: #f1f1f1;
}

.admin-users td {
  color: #666;
  font-size: 12px;
}

.admin-users td:first-child {
  font-weight: bold;
}


/* css for admin layout */

